# Default ownership

* @project-admin

## GitHub workflows and configurations

/.github/ @team-devops

## Agent component ownership

/agent/ @team-agent-maintainers

## Source code ownership

/src/ @team-extension-maintainers

## Test files ownership

/tests/ @team-qa

## Documentation ownership

/docs/ @team-docs
