# Dependencies
node_modules/

# Builds
dist/
out/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db
