# Ignore all files and directories in root
/*

# But don't ignore these files
!.gitignore
!package.json
!tsconfig.json
!README.md
!Dockerfile

# Don't ignore these directories
!src/
!tests/
!docs/
!.github/
!.architechture/
!.devcontainer/
!.eslintrc.json

# Always ignore node_modules
node_modules/

# IDE directories
.idea/
.vscode/
*.iml
*.iws
*.ipr
.vs/
